/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 13, 2014, 8:44:13 PM
    Author     : Fred Besteman
*/
body{
    background-color: #d8d8d8;
}
table {
    border: 1px solid black;
}
th, td{
    border: 1px solid black;
    text-align: left;
    padding: .5em;
}
.align_right{
    text-align: right;
}
.button {
  background: #61696e;
  background-image: -webkit-linear-gradient(top, #61696e, #8d9499);
  background-image: -moz-linear-gradient(top, #61696e, #8d9499);
  background-image: -ms-linear-gradient(top, #61696e, #8d9499);
  background-image: -o-linear-gradient(top, #61696e, #8d9499);
  background-image: linear-gradient(to bottom, #61696e, #8d9499);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
}

.button:hover {
  background: #c5d0d6;
  background-image: -webkit-linear-gradient(top, #c5d0d6, #a6acb0);
  background-image: -moz-linear-gradient(top, #c5d0d6, #a6acb0);
  background-image: -ms-linear-gradient(top, #c5d0d6, #a6acb0);
  background-image: -o-linear-gradient(top, #c5d0d6, #a6acb0);
  background-image: linear-gradient(to bottom, #c5d0d6, #a6acb0);
  text-decoration: none;
}