/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 13, 2014, 8:44:13 PM
    Author     : Fred Besteman
*/
body{
    background-color: #d8d8d8;
}
table {
    border: 1px solid black;
}

th, td{
    border: 1px solid black;
    text-align: left;
    padding: .5em;
}
.align_right{
    text-align: right;
}
.button {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: 000000;
  font-size: 12px;
  background: #979ea3;
  padding: 5px 28px 5px 20px;
  text-decoration: none;
}

.button:hover {
  background: #ccd1d4;
  text-decoration: none;
}