<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                              http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ActionControllerServlet</servlet-name>
        <servlet-class>besteman.controller.ActionControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectCourseServlet</servlet-name>
        <servlet-class>besteman.controller.SelectCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewAcademicServlet</servlet-name>
        <servlet-class>besteman.controller.ReviewAcademicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnterGradesServlet</servlet-name>
        <servlet-class>besteman.controller.EnterGradesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EnterGradesServlet</servlet-name>
        <url-pattern>/enterGradesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActionControllerServlet</servlet-name>
        <url-pattern>/actionControllerServlet</url-pattern>
    </servlet-mapping>
    <!-- you can comment out these tags when the app is in development -->
    <error-page>
        <error-code>404</error-code>
        <location>/error_404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error_java.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>SelectCourseServlet</servlet-name>
        <url-pattern>/SelectCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewAcademicServlet</servlet-name>
        <url-pattern>/ReviewAcademicServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>view/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
